################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FiveM_Queue/.vs/FiveM_Queue/v15/Server/sqlite3
